<div class='coastalwatch'>
	<h3>Coastalwatch</h3>
  <div class='report'>
  	<!-- {{ coastalwatch.site }} -->
  	<p class='date'>{{ coastalwatch.date }}</p>
  	<p class='description'>{{ coastalwatch.report }}</p>
  </div>
</div>

<br><br><br>

<div class='swellnet'>
	<h3>Swellnet</h3>
  <div class='report'>
  	<!-- {{ swellnet.site }} -->
  	<p class='date'>{{ swellnet.date }}</p>
  	<p class='description'>{{ swellnet.report }}</p>
  </div>
</div>